<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <style>

        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 100vh;
            margin: 0;
        }

    </style>
</head>
<body>

    <div class="posts_info">
        <h1>Jack's Posts</h1>

        {% for post in posts %}
            <h3>{{ post.title }}</h3>
            <p>{{ post.content }}</p>
        {% endfor %}

    </div>

     <div class="form_info">
        <form action="/form" method="post">
            <label for="post_name">Name:</label>
            <input type="text" id="post_name" name="post_name" ><br>
            <label for="post_major">Major:</label>
            <input type="text" id="post_major" name="post_major" ><br>
            <label for="post_description">Personal Description:</label>
            <textarea id="post_description" name="post_description" ></textarea><br>
            <button type="submit">Submit</button>
        </form>
    </div>

    <div class="succces_and_errors">
        {% if error %}
            {% for err in error %}
                <h2>{{ err.title }}</h2>
            {% endfor %}
        {% endif %}

        {% if success %}
         <h2>{{ success }}</h2>
        {% endif %}
    </div>

</body>
</html>
